name: Publish

on: 
  push:
    branches:
      - main

jobs:
  publish:
    name: publish to npm

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node 
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

     
